:root {
    --accent: #edc85e;
    --accent_lighter: #f7e3a9;
    --beige: #eaebe6;
    --black: #282727;
    --grey: #ededed;
    --main: #82bea8;
    --main_lighter: #bad1c8;
    --secundary: #f4fbfA;
    --purple: #ac99ad
}

* {
    box-sizing: border-box
}

body {
    color: var(--black);
    font-family: Nunito;
    margin: 0 auto;
    max-width: 768px
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 400px
}

p {
    overflow-wrap: break-word;
    margin: 0;
    padding: 0
}

@supports (height:100dvh) {
    main {
        height: 100dvh
    }
}

#spacing {
    flex-grow: 1
}

.grid_two_columns {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 10em);
    margin: auto
}

li {
    list-style: none
}

.button_wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em
}

.onboarding a,
button {
    background-color: var(--accent);
    border-radius: 10px;
    border: none;
    color: var(--black);
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
    text-decoration: none
}

button:disabled {
    background-color: #f6e4af;
    cursor: auto
}

.prev_button {
    background-color: var(--grey)
}

.next_button:focus {
    border: 3px solid var(--black);
    outline: 0
}

.next_button.turquoise {
    background-color: var(--main)
}

.white_button {
    background-color: #fff
}

.new_button {
    background-color: transparent;
    margin: 0;
    padding: 0
}

/*  =========
    login page
    ========= */

.login_page {
    background-image: url(/images/login_bg.svg);
    background-repeat: no-repeat;
    background-size: cover
}

.login_page h1 {
    margin-bottom: -.3em;
    padding-top: 2em;
    padding-left: 1em
}

.login_page form {
    background-color: #fff;
    border-radius: 20px;
    display: grid;
    height: 40%;
    justify-content: center;
    padding: 2em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 80%
}

.login_page h2 {
    font-weight: 600;
    margin-bottom: -2em;
    margin: 0;
    padding: 0
}

.login_page article {
    margin-top: 2.5em;
    position: relative;
    width: 100%
}

.user_box input {
    background: 0 0;
    border: none;
    border-bottom: 1px solid var(--black);
    color: #000;
    font-size: 18px;
    outline: 0;
    padding-bottom: 3px;
    padding-top: 10px;
    width: 15em
}

.user_box label {
    color: var(--black);
    font-size: 18px;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .5s
}

.user_box input:focus~label,
.user_box input:valid~label {
    color: var(--main);
    font-size: 12px;
    left: 0;
    top: -20px
}

/* ==========
    onboarding
    ========== */

.onboarding section {
    height: 100%;
    overflow: scroll;
    text-align: center
}

.onboarding section:before {
    content: "";
    background-image: url(../images/onboarding/onboarding_1.svg);
    background-position: center;
    background-size: cover;
    display: block;
    height: 50%
}

.onboarding h2,
.onboarding p {
    margin-left: 2em;
    margin-right: 2em
}

.onboarding h2 {
    color: var(--main);
    font-size: 1.7em;
    font-weight: 700
}

.onboarding p {
    font-size: 1.125em;
    font-weight: 600
}

/*  ==============
    questionnaire
    ============ */

.questionnaire_page {
    background-image: url(/images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0
}

.questionnaire_page header {
    flex-shrink: 0;
    height: 10%
}

.questionnaire_page .background {
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1em
}

/*  ============
    progress bar
    ============ */

.questionnaire_page .progress_steps {
    counter-reset: step;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    margin-bottom: 1.5em;
    margin-right: 0;
    margin-top: 1em;
    overflow: hidden;
    padding: 0;
    text-align: center
}

.questionnaire_page .progress_steps article {
    color: var(--grey);
    float: left;
    font-size: 1.1em;
    list-style-type: none;
    position: relative;
    text-transform: none;
    width: 20%
}

.questionnaire_page .progress_steps article:before {
    background: var(--grey);
    border-radius: 50%;
    color: #fff;
    content: counter(step);
    counter-increment: step;
    display: block;
    font-size: 1em;
    height: 1.5em;
    margin: 0 auto 5px auto;
    width: 1.5em
}

.questionnaire_page .progress_steps article.active:before {
    background: var(--accent)
}

.questionnaire_page .progress_steps article.active {
    color: var(--accent)
}

.questionnaire_page li {
    display: none
}

.questionnaire_page .questionnaire {
    flex: 1;
    margin: 0;
    padding: 0
}

.questionnaire_page .questionnaire li {
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    height: 100%;
    text-align: center;
    text-decoration: none
}

.questionnaire_page .show_element {
    display: flex
}

#amount_of_questions {
    position: fixed;
    visibility: hidden
}

#progress {
    background: var(--grey);
    bottom: -8px;
    height: 16px;
    position: relative;
    width: 100%
}

#progress div {
    background: var(--main_lighter);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 16px;
    width: 0%
}

.questionnaire_page h2 {
    font-size: 1.6em;
    font-weight: 600
}

.questionnaire_page .button_wrapper {
    margin-top: 2em
}

.questionnaire_page .hide_button {
    visibility: hidden
}

/*  ============
    input types
    ============ */


.questionnaire_page button:focus {
    border: 3px solid var(--accent);
    outline: 0
}

.questionnaire_page input[type=text] {
    border: none;
    border-bottom: 1px solid var(--black);
    height: 2em;
    font-size: 1em;
    padding: 1em
}

.questionnaire_page input:focus {
    border-bottom: 2px solid var(--accent);
    outline: 0
}

.questionnaire_page input[type=checkbox],
.questionnaire_page input[type=radio] {
    display: none
}

.questionnaire_page input[type=checkbox]:checked+label,
.questionnaire_page input[type=radio]:checked+label {
    background-color: var(--main)
}

.questionnaire_page label {
    background-color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
    display: inherit;
    font-size: 1.1em;
    justify-content: center;
    margin-bottom: 0;
    padding: 1em;
    width: 50%
}

.questionnaire_page input[type=checkbox] label {
    background-color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    padding-bottom: 1em;
    padding-top: 1em
}

.questionnaire_page .grid_two_columns label {
    width: unset
}

/*  ========
    goals page
    ========== */

.goals_page header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em
}

.goals_page h1 {
    margin: 0;
    padding-left: 2em;
    margin: auto;
    text-align: center;
    padding-left: .8em;
    font-size: 1.5em
}

.goals_page header svg {
    cursor: pointer;
    margin-right: 1em
}

.add_goal {
    display: none;
    background-color: var(--beige);
    overflow-y: scroll
}

.show_popup {
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    display: flex;
    height: 100%;
    padding-bottom: 1.3em;
    max-width: 768px;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-items: center;
    flex-wrap: wrap
}

.add_goal h2 {
    margin: auto;
    padding-left: 2em;
    text-align: center
}

.close_popup {
    cursor: pointer;
    position: sticky
}

.empty_state {
    text-align: center;
    padding-top: 1em;
    font-weight: 600
}

.hide_state {
    display: none
}

.empty_state img {
    height: auto;
    width: 100%
}

fieldset {
    appearance: none;
    border: none;
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(2, .5fr);
    max-width: 768px;
    width: 100%;
    z-index: 2;
    justify-items: center
}

#add {
    background-color: var(--grey);
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-size: 2.2em;
    font-family: Nunito;
    font-weight: 700;
    width: 100%
}

.disable {
    pointer-events: none;
    cursor: none
}

.goals_page input[type=text] {
    background-color: var(--grey);
    border-radius: 5px;
    border: solid #a9a9a9 1px;
    height: 2em
}

.goals_page input:focus {
    border: 3px solid var(--accent);
    outline: 0
}

.goals_page input[type=number] {
    width: 3em
}

.add_goal img {
    margin: auto;
    width: 5em
}

.add_goal h3 {
    font-weight: 600;
    font-style: normal;
    margin: 0;
    text-align: center
}

.goals_page form input[type=checkbox].goal_input {
    display: none
}

.goals_page form input[type=checkbox].goal_input:checked+.goal_card h3,
.goals_page form input[type=checkbox].goal_input:checked+label {
    background-color: var(--main_lighter);
    font-weight: 700
}

.goal_card {
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    display: flex;
    cursor: pointer;
    height: 13em;
    padding: 1em;
    margin: 0;
    width: 90%;
    flex-direction: column
}

.add_goal input[type=submit] {
    background-color: var(--main);
    border-radius: 10px;
    border: none;
    color: var(--black);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    margin-top: 1em;
    padding: 1.5em;
    width: 50%
}

.unordered_goal_list {
    display: grid;
    gap: 1.5em;
    margin: 0;
    padding: 1em
}

.unordered_goal_list li {
    background-color: var(--main);
    background-image: url(/images/goals/voeding_doel_header.svg);
    background-position-x: 90%;
    background-position-y: .6em;
    border-radius: 20px;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    display: inline-flex;
    height: 10em;
    align-items: flex-end
}

.unordered_goal_list section {
    background-color: #fff;
    border-radius: 20px;
    display: inline-flex;
    height: 7.5em;
    line-height: normal;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}

.dots_button {
    padding: 1em;
    background-image: url(/images/delete_dots.svg);
    background-size: 1em;
    background-position: center;
    background-repeat: no-repeat;
    width: 1em;
    margin: 1em;
    border-radius: 0
}

.three_dots {
    position: relative;
    display: inline-block;
}

.dots_content {
    display: none;
    margin-top: -2em;
    margin-left: 1em;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0rgba(0, 0, 0, .2);
    z-index: 1
}

.dots_content button {
    padding: 1em;
    font-size: 1em;
    font-weight: 500
}

.show_state {
    display: block;
}

.unordered_goal_list article h2 {
    font-size: 23px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 2em
}

.unordered_goal_list article p {
    line-height: 1em;
    padding: 0;
    font-weight: 300
}

.unordered_goal_list input[type=checkbox] {
    background-image: url(/images/goals/plus_sign.svg);
    background-size: 1.8em;
    background-repeat: no-repeat;
    background-position-y: 1.1em;
    background-position-x: 1.1em;
    position: relative;
    right: 1.5em;
    appearance: none;
    width: 4em;
    height: 4em;
    background-color: var(--main);
    border-radius: 50%;
    cursor: pointer
}

.unordered_goal_list input[type=checkbox].checkmark {
    background-image: url(/images/goals/check.svg);
    background-color: var(--main_lighter)
}

.unordered_goal_list input[type=checkbox]:focus {
    border: none
}

.unordered_goal_list li section label {
    padding-right: 2em;
    padding-top: 1em
}

.checkmark {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    stroke-width: 4;
    stroke-miterlimit: 10;
    margin: 10% auto;
    cursor: pointer
}

.checkmark_circle {
    fill: var(--main)
}

.checkmark_click_animation {
    animation: click_scale .1s ease-in-out .2s both
}

.checkmark_check_icon {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    stroke-linecap: round
}

.checkmark_plus.hide_plus {
    fill: none
}

.checkmark_check_icon_animation {
    animation: draw_checkmark .1s cubic-bezier(.65, 0, .45, 1) .3s forwards;
    stroke: var(--secundary);
    stroke-width: 6px
}

@keyframes draw_checkmark {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes click_scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

.goals_page #progress,
.goals_page #progress div {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}

/*  =================
    exercise styling 
    =================*/


.goals_page form input[type=checkbox].goal_input:checked+.goal_card h3.exercise,
.goals_page form input[type=checkbox].goal_input:checked+label.exercise {
    background-color: var(--accent_lighter)
}

.unordered_goal_list li.exercise {
    background-color: var(--accent);
    background-image: url(/images/goals/beweging_doel_header.svg)
}

.checkmark_circle.exercise {
    fill: var(--accent)
}

.checkmark.exercise {
    box-shadow: inset 0 0 0 var(--accent)
}

#progress div.exercise {
    background: var(--accent_lighter)
}

/*  =================
    confetti styling 
    =================*/

.confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top
}

.confetti:nth-child(1) {
    background-color: #ac99ad;
    left: 10%;
    animation-delay: 0
}

.confetti:nth-child(2) {
    background-color: #f7e3a9;
    left: 20%;
    animation-delay: -5s
}

.confetti:nth-child(3) {
    background-color: #bad1c8;
    left: 30%;
    animation-delay: -3s
}

.confetti:nth-child(4) {
    background-color: #e8c96f;
    left: 40%;
    animation-delay: -2.5s
}

.confetti:nth-child(5) {
    background-color: #82bea8;
    left: 50%;
    animation-delay: -4s
}

.confetti:nth-child(6) {
    background-color: #ff9a91;
    left: 60%;
    animation-delay: -6s
}

.confetti:nth-child(7) {
    background-color: #f2d74e;
    left: 70%;
    animation-delay: -1.5s
}

.confetti:nth-child(8) {
    background-color: #95c3de;
    left: 80%;
    animation-delay: -2s
}

.confetti:nth-child(9) {
    background-color: #ff9a91;
    left: 90%;
    animation-delay: -3.5s
}

.confetti:nth-child(10) {
    background-color: #f2d74e;
    left: 100%;
    animation-delay: -2.5s
}

@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0) translate(0, 0)
    }

    25% {
        transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh)
    }

    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh)
    }

    75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh)
    }

    100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh)
    }
}

/*  ============
    profile page 
    ============ */

.profile {
    background-image: url(/images/profile_swirl.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    padding: 1em
}

.profile header {
    display: flex;
    flex-direction: row;
    align-items: center
}

.profile .previous_url {
    background-color: transparent;
    border: none;
    color: var(--black);
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin: 0;
    padding: 0
}

.profile svg {
    margin-left: 1em;
    cursor: pointer
}

.profile h1 {
    margin: auto;
    margin-top: .5em
}

.profile_picture {
    background-color: #a9a9a9;
    background-image: url(/images/profile_icon.svg);
    background-size: cover;
    border-radius: 50%;
    height: 6em;
    margin: auto;
    margin-top: 4%;
    width: 6em
}

blockquote {
    position: relative;
    text-align: left;
    padding: 1em 1.2em;
    width: 80%;
    color: var(--black);
    margin: 1em auto 2em;
    background-repeat: no-repeat
}

blockquote:after,
blockquote:before {
    position: absolute;
    color: #a9a9a9;
    font-size: 4em
}

blockquote:before {
    content: "“";
    top: .4em;
    right: 100%
}

blockquote:after {
    content: "”";
    margin-left: -.2em;
    left: 100%;
    top: auto;
    bottom: -.4em
}

blockquote p {
    margin-bottom: .63em;
    padding-top: .5em;
    padding-left: 0
}

.streak_record {
    background-color: #e7e7e7;
    background-image: url(/images/finish.svg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 8em;
    background-position: bottom right;
    height: 8.5em;
    padding: 1em;
    width: auto
}

.grid_streak {
    grid-template-columns: repeat(2, 1fr)
}

.streak_record p {
    overflow-wrap: break-word;
    width: 5em;
    margin: 0
}

.streak_record strong {
    font-size: 1.5em
}

.see_answers {
    background-color: #e7e7e7;
    background-image: url(/images/icons_questionnaire/questionnaire.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 4em;
    border-radius: 20px;
    cursor: pointer;
    height: 8.5em;
    padding: 1em;
    width: auto
}

.questionnaire_answers.show_popup {
    flex-direction: column;
    margin: -1em;
    padding: 1em
}

.questionnaire_answers.show_popup article:first-of-type {
    display: flex
}

.questionnaire_answers.show_popup .close_popup {
    align-items: center;
    display: flex
}

.fyp_articles {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 1em
}

.fyp_articles article {
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 20px;
    flex-direction: row;
    gap: 1em;
    height: auto;
    padding: 1em;
    width: 90%
}

.fyp_articles h3 {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em
}

.fyp_articles p {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .5em;
    margin: 0
}

.fyp_articles article::before {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    content: "";
    display: block;
    height: 18vh;
    justify-content: center;
    margin-bottom: .2em;
    width: 35vw
}

.fyp_articles article:nth-of-type(1):before {
    background-image: url(/images/fyp/fitness.webp)
}

.fyp_articles article:nth-of-type(2):before {
    background-image: url(/images/fyp/food.webp);
    background-position: center
}

.fyp_articles article:nth-of-type(3):before {
    background-image: url(/images/fyp/weight.webp);
    background-position: center
}

.fyp_articles article:nth-of-type(4):before {
    background-image: url(/images/fyp/avocado.webp);
    background-position: center
}

.fyp_articles article:nth-of-type(5):before {
    background-image: url(/images/fyp/couch.webp);
    background-position: center
}