<main class="dashboard">
    <h1>Hallo, (naam)</h1> 

<div> 
    <section>
        <p>Gezondheidsscore</p>
    </section>
   <h2>Statistieken</h2>
    <section>
    
    </section>

    <section>
        
    </section>

</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <a href="#">
    <i class="material-icons nav__icon">dashboard</i>
    <span>Dashboard</span>
  </a>
  <a href="#">
    <i class="material-icons nav__icon">person</i>
    <span>Profile</span>
  </a>
  <a href="#" class="nav__link nav__link--active">
    <i class="material-icons nav__icon">devices</i>
    <span>Devices</span>
  </a>
  <a href="#">
    <i class="material-icons nav__icon">lock</i>
    <span>Privacy</span>
  </a>
  <a href="#">
    <i class="material-icons nav__icon">settings</i>
    <span>Settings</span>
  </a>
</nav>


</main>