    <header>
        <h1>Hallo, (naam)</h1>
    </header>
<main>
    <article>
        <blockquote>"It's been proven that fitting more activity into your day can greatly improve your health."</blockquote>
    </article>
    <h2>Statistieken</h2>
    <section class="first_row">
        <article>
            <h3>Calorieën</h3>
        </article>
        <article>
            <h3>Stappen</h3>
        </article>
    </section>
    <section class="second_row">
        <article>
            <h3>Water</h3>
        </article>
         <article>
            <h3>Krachttraining</h3>
        </article>
    </section>
    <h2>Voor jou geselecteerd</h2>
    <section class="third_row">
        <article>
            <h3>Makkelijke oefeningen</h3>
            <p>Lees meer...</p>
        </article>
         <article>
            <h3>Alles over eiwitten</h3>
            <p>Lees meer...</p>
        </article>
         <article>
            <h3>Vegan eiwitten</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Snel gezond ontbijt</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Warming-up</h3>
            <p>Lees meer...</p>
        </article>
    </section>
    <nav class="nav_dashboard">
        <ul >
            <li class="list active">
                <a href="/dashboard">
                    <i class="material-icons icon">dashboard</i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="list">
                <a href="/fitness">
                    <i class="material-icons icon">fitness_center</i>
                    <span class="text">Beweging</span>
                </a>
            </li>

            <li class="list">
                <a href="/food">
                    <i class="material-icons icon">fastfood</i>
                    <span class="text">Voedselinname</span>
                </a>
            </li>

            <li class="list">
                <a href="/profile">
                    <i class="material-icons icon">person</i>
                    <span class="text">Profiel</span>
                </a>
            </li>
        </ul>
    </nav>
</main>
