    <header>
        <h1>Hallo, (naam)</h1>
    </header>

<main>
        <article>
            <blockquote>Quote/fact of the day</blockquote>
        </article>
        
        <h2>Statistieken</h2>
        <section> 
            
            <article>

            </article>

            <article>

            </article>
        </section>
    </main>
    <nav>
        <a href="/dashboard" class="active">
            <i class="material-icons nav__icon">dashboard</i>
        </a>
        <a href="/fitness">
            <i class="material-icons nav__icon">fitness_center</i>
        </a>
        <a href="/food">
            <i class="material-icons nav__icon">fastfood</i>
        </a>
        <a href="/profile">
            <i class="material-icons nav__icon">person</i>
        </a>
    </nav>
