<h1> beweging</h1>
<main>

</main>
<nav>
    <a href="/dashboard">
        <i class="material-icons nav__icon">dashboard</i>
    </a>
    <a href="/fitness" class="active">
        <i class="material-icons nav__icon">fitness_center</i>
    </a>
    <a href="/food">
        <i class="material-icons nav__icon">fastfood</i>
    </a>
    <a href="/profile">
        <i class="material-icons nav__icon">person</i>
    </a>
</nav>
