<h1> beweging</h1>

  <nav>
        <a href="/dashboard">
            <i class="material-icons nav__icon">dashboard</i>
            <span>Check-in</span>
        </a>
        <a href="/fitness" class="active">
            <i class="material-icons nav__icon">fitness_center</i>
            <span>Beweging</span>
        </a>
        <a href="/food">
            <i class="material-icons nav__icon">fastfood</i>
            <span>Voedselinname</span>
        </a>
        <a href="/profile">
            <i class="material-icons nav__icon">person</i>
            <span>Profiel</span>
        </a>
    </nav>
