<header> 
    <h1>Beweging</h1>
</header>
<main class="fitness">
    <p>Waar wilt u zich op gaan focussen?</p>

    <h2>Sporten? Telt trappen lopen?</h2>
    <section>
        <article>
            <h3></h3>
        </article>

        <article>

        </article>
    </section>

    <h2>Ik ben goed in het ontwikkelen van gewoontes</h2>
    <section>
        <article>
            <h3></h3>
        </article>

        <article>

        </article>
    </section>


    <h2>Ik heb al veel sportervaring</h2>
    <section>
        <article>
            <h3></h3>
        </article>

        <article>

        </article>
    </section>

    <nav>
        <ul>
            <li class="list">
                <a href="/dashboard" class="active">
                    <i class="material-icons icon">dashboard</i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="list active">
                <a href="/fitness">
                    <i class="material-icons icon">fitness_center</i>
                    <span class="text">Beweging</span>
                </a>
            </li>

            <li class="list">
                <a href="/food">
                    <i class="material-icons icon">fastfood</i>
                    <span class="text">Voedselinname</span>
                </a>
            </li>

            <li class="list">
                <a href="/profile">
                    <i class="material-icons icon">person</i>
                    <span class="text">Profiel</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </nav>
</main>