<main>
    <h1>Voedselinname</h1>
    <nav>
        <a href="/dashboard">
            <i class="material-icons nav__icon">dashboard</i>
        </a>
        <a href="/fitness">
            <i class="material-icons nav__icon">fitness_center</i>
        </a>
        <a href="/food" class="active">
            <i class="material-icons nav__icon">fastfood</i>
        </a>
        <a href="/profile">
            <i class="material-icons nav__icon">person</i>
        </a>
    </nav>
</main>