<main class="goals_page">
    <h1>Doelen</h1>
    <form class="add_goal">
        <div class="close_popup">X</div>
        {{#each goals}}
            <section>
                <h3>
                    <input type="checkbox" id={{id}} name="goal" class="goal_input" value="{{name}}">
                    <label for={{id}}></label>
                    {{name}}
                </h3>
            </section>
        {{/each}}
        <input type="submit" value="Voeg toe" />
    </form>
    <ul class="unordered_goal_list">
    </ul>
    <div class="button_wrapper">
        <button id="add"></button>
    </div>
</main>
{{!-- <label for="time_reminder">Hoelaat wil je een herinnering krijgen?</label>
<input type="time" id="time_reminder" name="time_reminder" min="06:00" max="23:00"> --}}