<main class="login_page">
    <h1>Welkom</h1>
    <form id="user_input" action="/" method="post">
        <h2>Login</h2>
        <article class="user_box">
            <input type="text" id="name" name="name" required>
            <label for="name">Roepnaam</label>
        </article>
        <article class="user_box">
            <input type="email" id="email" name="email" required>
            <label for="email">E-mailadres</label>
        </article>
    </form>
    <div class="button_wrapper">
        <button type="submit" form="user_input" id="login" class="white_button">Login</button>
        <button type="submit" form="user_input" id="register">Registreer</button>
    </div>
</main>