<main class="login_page">
    <h1>Welkom</h1>
    <form id="user_input">
        <h2>Login</h2>
        <article class="user_box">
            <input type="text" id="name" required>
            <label for="name">Roepnaam</label>
        </article>

        <article class="user_box">
            <input type="text" id="email" required>
            <label for="email">E-mailadres</label>
        </article>
    </form>
    <div class="button_wrapper">
        <button type="submit" form="user_input" class="grey_button">Login</button>
        <button type="submit" form="user_input">Registreer</button>
    </div>
</main>