<main class="offline">
    <img src="/images/offline/offline.webp">
    <p>Oh nuts, het lijkt erop dat je opzoek bent naar iets dat niet bestaat of dat je offline bent. 
        Doe bijvoorbeeld een squad om de tijd te verdoen en fit te blijven en probeer het dan opnieuw.</p>
</main>