<main class="offline">
    <img src="/images/offline/offline.webp"
        alt="Een cartoon van een vrouw met één arm over haar hoofd en één arm waar ze haar been mee vasthoudt met wolken op de achtergrond. ">
    <p>
        Oh nuts, het lijkt erop dat je offline bent.
        Doe bijvoorbeeld een squat om tijd te rekken en fit te blijven natuurlijk!
        Probeer het dan opnieuw.
    </p>
</main>