<main class="offline">
    <img src="/images/offline/offline.webp">
    <p>
        Oh nuts, het lijkt erop dat je offline bent.
        Doe bijvoorbeeld een squat om tijd te rekken en fit te blijven natuurlijk!
        Probeer het dan opnieuw.
    </p>
</main>