
<ol>
    <li class="show_element"> 
    {{!-- Illustration. --}}
        <div class="onboarding_pic_1"></div>

        <section> 
            <h2>Weg met slechte voeding</h2>
            <p>SO-NUTS helpt je met het ontwikkelen van gezonde gewoontes rondom eten.</p>  
        </section>
    </li>  
    <li>
        {{!-- Illustration. --}}
        <div class="onboarding_pic_2"></div></div>

        <section> 
            <h2>Weg met te weinig beweging</h2>
            <p>Minstens 150 minuten beweging per week.</p>
        </section>
    </li> 
    <li>
        {{!-- Illustration. --}}
        <div class="onboarding_pic_3"></div></div>

        <section> 
            <h2>Mogelijk gemaakt door experts</h2>
            <p>Blended learning door dieetisten en fysiotherapeuten.</p>
        </section>
    </li> 
</ol>
<div class="button_wrapper"> 
    <button class="next_button">Volgende</button>
</div>