<main class="onboarding">
    <section>
        <h2>Op naar een gezonde levenstijl</h2>
        <p>SO-NUTS helpt je met het ontwikkelen van gezonde gewoontes omtrent eten en beweging. Vul de vragenlijst in en
            krijg een op maat gemaakt advies van experts. </p>
    </section>
    <span id="spacing"></span>
    <div class="button_wrapper">
        <a href="/questionnaire?name={{name}}&email={{email}}" class="next_button">Vragenlijst</a>
    </div>
</main>