<main class="onboarding">
    <section>
        <h2>Weg met slechte voeding</h2>
        <p>SO-NUTS helpt je met het ontwikkelen van gezonde gewoontes rondom eten.</p>
        <h2>Weg met te weinig beweging</h2>
        <p>Een op maat gemaakte planning om minstens 150 minuten per week te bewegen.</p>
        <h2>Mogelijk gemaakt door experts</h2>
        <p>Blended learning op basis van kennis van diëtisten en fysiotherapeuten.</p>
    </section>
    <span id="spacing"></span>
    <div class="button_wrapper">
        <button class="next_button">Vragenlijst</button>
    </div>
</main>