<main class="profile">
    <header>
        <a href="/goals" alt="Ga terug naar doelen">
            <svg xmlns="http://www.w3.org/2000/svg" width="31.681" height="31.681" viewBox="0 0 31.681 31.681">
                <path id="noun-plus-518521"
                    d="M164.13,80.113H153.9V69.884a4.113,4.113,0,0,0-8.2,0V80.113c.005,4.942,0,6.905-.023,8.147,0,.069,0,.052,0,.052,8.194-.01.04-.037,8.2.026H164.13a4.113,4.113,0,0,0,0-8.226Z"
                    transform="translate(-40.544 -149.749) rotate(45)" fill="#282727" />
            </svg>
        </a>
    </header>
    <section class="profile_picture"></section>
    <h1>{{name}}farrahton'{{#ifCond s false}}s{{/ifCond}}</h1>

    <section class="quote">
        <strong>Motivatie voor vandaag</strong>

        <p>
            <em>“</em>
            Lorem ipsum an inspirational quote of the day
            Lorem ipsum an inspirational quote of the day
            <em>”</em>
        </p>
        <cite>- Moi</cite>
    </section>

    <article class="grid_two_columns">
        <article class="streak_record">
            <p>Hoogste streak</p>
            <strong>24</strong>
        </article>

        <article class="see_answers">
            <p>Bekijk de door jou ingevulde antwoorden op de vragenlijst</p>
        </article>
    </article>
    <h2>Voor jou geselecteerd</h2>
    <section class="fyp_articles">
        <article>
            <h3>Makkelijke oefeningen</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Alles over eiwitten</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Vegan eiwitten</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Snel gezond ontbijt</h3>
            <p>Lees meer...</p>
        </article>
        <article>
            <h3>Warming-up</h3>
            <p>Lees meer...</p>
        </article>
    </section>

    <article class="grid_two_columns">
        {{#each questionnaire_response}}
            {{#each ../questionnaire}}
                {{#ifCond this.id ../this.questionId}}
                    {{#if this.questionText}}
                        <p>{{this.questionText}}</p>
                    {{/if}}
                    {{#if this.text}}
                        <p>{{this.text}}</p>
                    {{/if}}
                {{/ifCond}}
            {{/each}}
            <p>{{this.response}}</p>
        {{/each}}
    </article>



</main>