<header> 
    <h1>Profiel</h1>
</header>
<main class="profile">
   
    <div class="grid_two_columns">
        {{#each questionnaire_response}}
            {{#each ../questionnaire}}
                {{#ifCond this.id ../this.questionId}}
                    {{#if this.questionText}}
                        <p>{{this.questionText}}</p>
                    {{/if}}
                    {{#if this.text}}
                        <p>{{this.text}}</p>
                    {{/if}}
                {{/ifCond}}
            {{/each}}
            <p>{{this.response}}</p>
        {{/each}}
    </div>
</main>
<nav>
      <ul>
            <li class="list">
                <a href="/dashboard" class="active">
                    <i class="material-icons icon">dashboard</i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="list">
                <a href="/fitness">
                    <i class="material-icons icon">fitness_center</i>
                    <span class="text">Beweging</span>
                </a>
            </li>

            <li class="list">
                <a href="/food">
                    <i class="material-icons icon">fastfood</i>
                    <span class="text">Voedselinname</span>
                </a>
            </li>

            <li class="list active">
                <a href="/profile">
                    <i class="material-icons icon">person</i>
                    <span class="text">Profiel</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
</nav>