<main class="profile">
    <h1>Profiel</h1>
    {{#each questionnaireResponse}}
        {{#each ../questionnaire}}
            {{#ifCond this.id ../this.questionId}}
                {{#if this.questionText}}
                    <p>{{this.questionText}}</p>
                {{/if}}
                {{#if this.text}}
                    <p>{{this.text}}</p>
                {{/if}}
            {{/ifCond}}
        {{/each}}
        <p>{{this.response}}</p>
    {{/each}}
</main>
<nav>
    <a href="/dashboard">
        <i class="material-icons nav__icon">dashboard</i>
    </a>
    <a href="#" class="nav__link nav__link--active">
        <i class="material-icons nav__icon">fitness_center</i>
    </a>
    <a href="#">
        <i class="material-icons nav__icon">fastfood</i>
    </a>
    <a href="/profile" class="active">
        <i class="material-icons nav__icon">person</i>
    </a>
</nav>