:root {
    --secundary: white;
}

header {
    margin: 0;
    padding-left: 1em;
    padding-top: 1em;
    background-image: url("/images/swirl_2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 50em; */
    height: 6em;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

main {
    background-color: var(--secundary);
    border-top-right-radius: 19px;
    border-top-left-radius: 20px;
    margin-top: -1em;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1em;
}

h2 {
    margin-left: 1em;
    margin-top: 0em;
    margin-bottom: -0.5em;
}

article {
    /* width: 90%; */
    height: 6em;
    background-color: var(--beige);
    border-radius: 20px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    gap: 1em;
    margin-right: 1em;
    margin-left: 1em;
    /* margin-top: 1.5em; */
}

article p {
    margin: 1em;
}

section {
    display: flex;
}

section article:nth-of-type(1) {
    width: 12em;

    height: 10em;
    background-image: url("/images/food_bowl.svg");
    background-size: 6em;
    background-position: -.3em 5em;
    background-repeat: no-repeat;
    background-color: var(--accent);
}

section article:nth-of-type(2) {
    width: 17em;
    height: 10em;
}

/*  ====
    nav
    ====*/

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 768px;
    height: 6em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: var(--black);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

a:hover {
    /* background-color: var(--beige); */
    color: var(--main);
}

.active {
    /* background-color: var(--beige); */
    color: var(--main);
}

i {
    font-size: 2em;
}



h3 {
    margin-left: 1em;
}