section:before {
    content: "";
    background-image: url("../images/onboarding/onboarding_1.svg");
    /* background-image: url("../images/onboarding/onboarding_2.svg"); */
    /* background-image: url("../images/onboarding/onboarding_3.svg"); */
    background-position: center;
    background-size: cover;
    display: block;
    height: 50%;
}

section {
    height: 100%;
    overflow: scroll;
    text-align: center;
}

h2,
p {
    margin-left: .5em;
    margin-right: .5em;
}

h2 {
    color: var(--main);
    font-size: 1.7em;
    font-weight: bold;
}

p {
    font-size: 1.1250em;
}