/*  ===================
    illustration + text 
    =================== */

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.show_element {
    display: block;
}

ol li div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
    margin: 0;
    padding: 0;
}

ol li .onboarding_pic_1 {
    background-image: url("../images/onboarding_1.svg");
}

ol li .onboarding_pic_2 {
    background-image: url("../images/onboarding_2.svg");
}

ol li .onboarding_pic_3 {
    background-image: url("../images/onboarding_3.svg");
}

ol li section {
    border-radius: 20px;
    padding: 1em;
    text-align: center;
}

ol li section h2 {
    color: var(--main);
    font-size: 1.7em;
    font-weight: bold;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
}

ol li section p {
    font-size: 1.1250em;
    text-align: center;
}

/*  ======
    button
    ====== */

.button_wrapper {
    bottom: 2em;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.disable_button {
    display: none;
}