:root {
    --accent: #EDC85E;
    --beige: #eaebe6;
    --black: #282727;
    --grey: #ededed; 
    --main: #82bea8;
    --secundary: #F4FBFA;
}

* {
font-family: "Nunito";
}

html {
margin: auto;
overflow: hidden;
}

body {
margin-left: auto;
margin-right: auto;
max-height: 768px;
max-width: 414px;
margin-top: 0;
padding-top: 0;
}

main {
padding: 0;
margin: 0;
background-color: var(--main);
height: 100vh;
background-image: url("/images/bg.svg");
background-repeat: no-repeat;
background-size: cover;
}

.space {
padding: .5em;
margin-bottom: 3.5em;
}

.background {
padding-top: 1em;
background-color: white;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
height: 100vh;
}

/*  ============
progress bar
============ */

.progress_steps {
margin-bottom: 2em;
margin-right: 0;text-align: center;
/* width: 42em; */
overflow: hidden;
display: flex;
padding: 0;
counter-reset: step;
justify-content: space-around;}

.progress_steps article {
list-style-type: none;
color: var(--grey);
text-transform: none;
font-size: 1.1em;
width: 20%;
float: left;
position: relative;
}

.progress_steps article:before {
counter-increment: step;
content: counter(step);
width: 1.5em;
height: 1.5em;
display: block;
font-size: 1em;
color: white;
background: var(--grey);
border-radius: 50%;
margin: 0 auto 5px auto;
}

.progress_steps article:after {
    /* content: attr(data-title); */
    /* content: ''; */
    width: 100%;
    height: .3em;
    background: var(--grey);
    position: absolute;
    left: -50%;
    top: .7em;
    z-index:-1;
}

.progress_steps article:first-child:after {
content: none;
}

.progress_steps article.active:before,
.progress_steps article.active:after {
background: var(--accent);
color: var(--white);
}

.progress_steps article.active {
  color: var(--accent)
}

/*  ============
questionarre
general
============ */

/* main {
overflow-y: hidden;
height: 34em;
}  */

/* article {
border-radius: 20px;
text-align: center;
height: 10em;
margin: 1em;
padding: 1em;
background-color: white;
margin-bottom: 2em;
} */

.questionnaire {
list-style-type: none;
padding: 0;
margin: 0;
}

.questionnaire li {
text-decoration: none;
border-radius: 20px;
text-align: center;
/* height: 38em; */
/* margin: 1em; */
padding: 1em;
/* background-color: white; */
/* margin-bottom: 2em; */
/* display: none; */
/* overflow: hidden; */}

/* Otherwise the display none is more specific which will overwrite the class name. */
li {
display: none;
}

.show_element {
display: block;
}

.question_counter {
font-weight: 300;
color: lightgrey;
}

h2 {
font-weight: 600;
font-size: 1.6em;
}

/*  ======
button
====== */

.button_wrapper {
display: flex;
justify-content: center;
}

.disable_button {
display: none;
}

button {
/* height: 3em; */
border-radius: 10px;
border: none;
background-color: var(--accent);
padding: 1.5em;
font-weight: 500;
margin-left: 1em;
margin-right: 1em;
cursor: pointer;
}

.prev_button {
background-color: var(--grey);
}

.next_button:focus {
border: 3px solid var(--black);
outline: none !important; 
}

button:focus {
border: 3px solid var(--accent);
outline: none !important; 
}

/*  ============
input type
text
============ */

input[type=text] {
background-color: var(--grey);
border: solid darkgrey 1px;
border-radius: 5px;
height: 2em;
width: 90%;
}

input:focus {
border: 3px solid var(--accent);
outline: none !important;
}

/*  ============
input types
============ */


input[type="radio"],
input[type="checkbox"]{
display: none;
}   

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
background-color: var(--turquoise);
}

label {
display: inline-block;
background-color: var(--background);
padding: .4em;
height: 2em;
margin: .2em;
font-size: 1.1em;
cursor: pointer;
border-radius: 5px;
width: 90%;
}      

.options_container {
display: grid;
grid-template-columns: repeat(2, 10em);
/* grid-template-rows: repeat(2, 3em); */
/* grid-column-gap: 10px; */
/* grid-row-gap: 10px; */
justify-content: center;
}

