body {
    padding-top: 0;
}

main {
    background-color: var(--main);
    background-image: url("/images/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@supports (height: 100dvh) {
    main {
        height: 100dvh;
    }
}

header {
    flex-shrink: 0;
    height: 10%;
}

.background {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 1em;
}

/*  ============
    progress bar
    ============ */

.progress_steps {
    counter-reset: step;
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    margin-bottom: 2em;
    margin-right: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.progress_steps article {
    color: var(--grey);
    float: left;
    font-size: 1.1em;
    list-style-type: none;
    position: relative;
    text-transform: none;
    width: 20%;
}

.progress_steps article:before {
    background: var(--grey);
    border-radius: 50%;
    color: white;
    content: counter(step);
    counter-increment: step;
    display: block;
    font-size: 1em;
    height: 1.5em;
    margin: 0 auto 5px auto;
    width: 1.5em;
}

.progress_steps article.active:before {
    background: var(--accent);
}

.progress_steps article.active {
    color: var(--accent);
}

article.gegevens_icon.active:before {
    color: white;
}

/*  =============
    questionarre
    general
    ============ */

.questionnaire {
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.questionnaire li {
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.show_element {
    display: flex;
}

#amount_of_questions {
    position: fixed;
    visibility: hidden;
}

#progress {
    background: var(--grey);
    height: 6px;
    width: 100%;
}

#progress div {
    background: var(--main);
    height: 6px;
    width: 0%;
}

#spacing {
    flex-grow: 1;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
}

/*  ======
    button
    ====== */

.button_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.hide_button {
    visibility: hidden;
}

button:focus {
    border: 3px solid var(--accent);
    outline: none !important;
}

/*  ===========
    input type
    text
    =========== */

input[type=text] {
    background-color: var(--grey);
    border-radius: 5px;
    border: solid darkgrey 1px;
    height: 2em;
}

input:focus {
    border: 3px solid var(--accent);
    outline: none !important;
}

/*  ============
    input types
    ============ */

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    background-color: var(--main);
}

label {
    background-color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
    display: inherit;
    font-size: 1.1em;
    justify-content: center;
    margin-bottom: 0em;
    padding: 1em;
    width: 50%;
}

input[type="checkbox"] label {
    background-color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.grid_two_columns label {
    width: unset;
}