:root {
    --turquoise: #8CB4AA ;
    --purple: #AC99AD;
    --yellow: #EDC85E;
    --white: #F2F3EE;
    --black: #282727;
    --grey: #ededed; 
    --accent: #EDC85E;
    --main: #58c5b8;
    --secundary: #F4FBFA;
    --background: #eaebe6;
}

* {
    box-sizing: border-box;
    font-family: "Nunito";
}

body {
    margin-left: auto;
    margin-right: auto;
    /* max-width: 768px; */
    max-width: 414px;
    /* padding: 1em; */
    background-color: var(--turquoise);
    color: var(--black);
}

h1 {
    text-align: center;
    color: var(--white)
    /* width: 100%; */
}

/*  ============
    progress bar
    ============ */

.progress_steps {
    margin-bottom: 2em;
    text-align: center;
    width: 43em;
    overflow: hidden;
    display: flex;
    padding: 0;
    counter-reset: step;
}
  
.progress_steps article {
    list-style-type: none;
    color: var(--grey);
    text-transform: none;
    font-size: 1.1em;
    width: 20%;
    float: left;
    position: relative;
}
  
.progress_steps article:before {
    counter-increment: step;
    content: counter(step);
    width: 1.5em;
    height: 1.5em;
    display: block;
    font-size: 1em;
    color: white;
    background: var(--grey);
    border-radius: 50%;
    margin: 0 auto 5px auto;
}
  
.progress_steps article:after {
    content: attr(data-title);
    content: '';
    width: 100%;
    height: .3em;
    background: var(--grey);
    position: absolute;
    left: -50%;
    top: .7em;
    z-index:-1;
}
  
.progress_steps article:first-child:after {
    content: none;
}
  
.progress_steps article.active:before,
.progress_steps article.active:after {
    background: var(--yellow);
    color: var(--white);
}

.progress_steps article.active {
      color: var(--yellow)
}

/*  ============
    questionarre
    general
    ============ */

/* main {
    overflow-y: hidden;
    height: 34em;
}  */

/* article {
    border-radius: 20px;
    text-align: center;
    height: 10em;
    margin: 1em;
    padding: 1em;
    background-color: white;
    margin-bottom: 2em;
} */
.questionnaire {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.questionnaire li {
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    height: 27em;
    margin: 1em;
    padding: 1em;
    background-color: white;
    margin-bottom: 2em;
    /* display: none; */
}

li {
    display: none;
}

.show_element {
    display: block;
}

.question_counter {
    font-weight: 300;
    color: lightgrey;
}

h2 {
    font-weight: 600;
    font-size: 1.6em;
}

/*  ======
    button
    ====== */
    
.disable_button {
    display: none;
}
    
button {
    /* height: 3em; */
    border-radius: 10px;
    border: none;
    background-color: var(--yellow);
    padding: 1.5em;
    font-weight: 500;
    margin-left: 1em;
    margin-right: 1em;
    cursor: pointer;
}

.prev_button {
    background-color: var(--grey);
}

.next_button:focus {
    border: 3px solid var(--black);
    outline: none !important; 
}

button:focus {
    border: 3px solid var(--yellow);
    outline: none !important; 
}

/*  ============
    input type
    text
    ============ */

input[type=text] {
    background-color: var(--grey);
    border: solid darkgrey 1px;
    border-radius: 5px;
    height: 2em;
    width: 90%;
}

input:focus {
    border: 3px solid var(--yellow);
    outline: none !important;
}

/*  ============
    input types
    ============ */


input[type="radio"],
input[type="checkbox"]{
    display: none;
}   

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    background-color: var(--turquoise);
}

label {
    display: inline-block;
    background-color: var(--background);
    padding: .4em;
    height: 2em;
    margin: .2em;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
}      

.options_container {
    display: grid;
    grid-template-columns: repeat(2, 10em);
    /* grid-template-rows: repeat(2, 3em); */
    /* grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    justify-content: center;
}

