:root {
    --accent: #edc85e;
    --beige: #eaebe6;
    --black: #282727;
    --grey: #ededed;
    --main: #82bea8;
    --secundary: #f4fbfA;
    --purple: #ac99ad;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: "Nunito";
    margin: 0 auto;
    max-width: 768px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@supports (height: 100dvh) {
    main {
        height: 100dvh;
    }
}

#spacing {
    flex-grow: 1;
}

li {
    display: none;
}

.grid_two_columns {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 10em);
}

/*  ======
    button
    ====== */

button {
    background-color: var(--accent);
    border-radius: 10px;
    border: none;
    color: var(--black);
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.prev_button {
    background-color: var(--grey);
}

.next_button:focus {
    border: 3px solid var(--black);
    outline: none !important;
}

.next_button.turquoise {
    background-color: var(--main);
}