:root {
    --accent: #edc85e;
    --accent_lighter: #f7e3a9;
    --beige: #eaebe6;
    --black: #282727;
    --grey: #ededed;
    --main: #82bea8;
    --main_lighter: #bad1c8;
    --secundary: #f4fbfA;
    --purple: #ac99ad;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--black);
    font-family: "Nunito";
    margin: 0 auto;
    max-width: 768px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    padding-left: 1em;
}

@supports (height: 100dvh) {
    main {
        height: 100dvh;
    }
}

#spacing {
    flex-grow: 1;
}

.grid_two_columns {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 10em);
}

li {
    list-style: none;
}

/*  ======
    button
    ====== */

button {
    background-color: var(--accent);
    border-radius: 10px;
    border: none;
    color: var(--black);
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1.5em;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.prev_button,
.grey_button {
    background-color: white;
}

.next_button:focus {
    border: 3px solid var(--black);
    outline: none !important;
}

.next_button.turquoise {
    background-color: var(--main);
}


/*  =========
    login page
    ========= */

.login_page {
    background-image: url("/images/bg_in.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_page h1 {
    margin-bottom: -.3em;
    padding-top: 2em;
}

.login_page form {
    background-color: white;
    border-radius: 20px;
    display: grid;
    height: 40%;
    justify-content: center;
    padding: 2em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 80%;
}



.login_page h2 {
    font-weight: 600;
    margin-bottom: -2em;
    margin: 0;
    padding: 0;
}

.login_page article {
    margin-top: 2.5em;
    position: relative;
}

.user_box input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--black);
    color: black;
    font-size: 18px;
    outline: none;
    padding-bottom: 3px;
    padding-top: 10px;
}

.user_box label {
    color: var(--black);
    font-size: 18px;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: .5s;
}

.user_box input:focus~label,
.user_box input:valid~label {
    color: var(--main);
    font-size: 12px;
    left: 0;
    top: -20px;
}